.lead__title {
  font-size: 96px;
  line-height: 1.04;
  text-align: center;
  font-style: normal; 
  font-family: 'Inter_900', sans-serif;
  max-width: 720px; /* добавить мнемоник переноса?*/
  margin: 0 0 32px;
}

@media screen and (max-width: 767px) {
  .lead__title {
    max-width: 288px;
    font-size: 40px;
    margin: 0 0 16px;
  }
}