.intro__text {
  margin: 40px 0 33px;
  display: block;
  font-style: normal;
  font-family: 'Inter_400', sans-serif;
  font-size: 16px;
  line-height: 163%;
}

@media screen and (max-width: 767px) {
  .intro__text {
    margin-bottom: 34px;
  }
}